body {
  background-color: white;
}

.register-container {
  width: 100%;
  max-width: 376px;
  margin: 40px auto; /* Added margin for centering */
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 7%;
}

.register-container h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}

.register-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.register-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

.register-container input:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.register-container button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #3062bd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-container button:hover {
  background-color: #24398b;
}

.register-container p {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: black;
}

/* For links inside the paragraph */
.register-container p a {
  color: #574caf;
  text-decoration: none;
}

.register-container p a:hover {
  text-decoration: underline;
}

.register-image {
  width: 50%;
    max-width: 635px;
    height: auto;
    margin-bottom: -9px;
}